<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 </title>

    <!-- Custom stlylesheet -->
    <link
      rel="stylesheet"
      {% comment %} type="text/css" {% endcomment %}
      href="{% static 'css/main/not.css' %}"
    />
  </head>

  <body>
    <div class="pagenotfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>4<span>0</span>4</h1>
        </div\
        >
        <p>
          The page you are looking for might have been removed had its name
          changed or is temporarily unavailable.
        </p>
        {% if user.is_authenticated %}
        <a href="{%url 'dashboard'%}">Dashboard</a>{% else %}
        <a href="{%url 'login'%}">Login</a>{% endif %}
      </div>
    </div>
  </body>
</html>
