{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{% block title %} | Applications{% endblock %}
<!---->
{% block content %}
<div class="main-content">
  <div class="container-fluid">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrapper row">
      <div class="col-12 col-lg-3 col-md-6">
        <h4 class="page-title">Applications</h4>
      </div>
      <div class="col-12 col-lg-9 col-md-6">
        <ol class="breadcrumb float-right">
          <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
          <li class="active">/ Applications</li>
        </ol>
      </div>
    </div>
    <!-- Breadcrumb End -->
  </div>

  <div class="container-fluid">
    <div class="filter flex">
      <form method="get" class="forms-sample grid5">
        <div class="form-group flex">
          <label for="gender">Gender</label>
          {{ applicant_filter.form.gender }}
        </div>
        <div class="form-group flex">
          <label for="school">Class</label>
          {{ applicant_filter.form.classroom }}
        </div>
        <div class="form-group flex">
          <label for="school">Residence</label>
          {{ applicant_filter.form.residence }}
        </div>
        <div class="form-group flex">
          <label for="school">Name</label>
          {{ applicant_filter.form.name }}
        </div>
        <div class="form-group flex">
          <a href="{% url 'export_csv' %}">Export CSV</a>
          <button type="submit" class="btn btn-common mr-3">Filter</button>
        </div>
      </form>
    </div>

    <div class="filterlist card">
      <table class="table">
        <thead>
          <tr>
            <th>Student Names</th>
            <th>School</th>
            <th>Nationality</th>
            <th>Gender</th>
            <th>Class</th>
            <th>Date of Birth</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for applicant in applicant_filter.qs %}
          <tr>
            <td>
              <a href="{% url 'enrollment' applicant.id%}">
                <img src="{{applicant.photo.url}}" alt="image" />
                <span class="pl-2"
                  >{{applicant.fname}} {{applicant.lname}}</span
                ></a
              >
            </td>
            <td>{{applicant.prev_sch}}</td>
            <td>{{applicant.nationality}}</td>
            <td>{{applicant.gender}}</td>
            <td>{{applicant.classroom}}</td>
            <td>{{applicant.dob}}</td>
            <td>
              <div class="badge badge-outline-success">
                {{applicant.status}}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
