{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{% block title %} | Dashboard{% endblock %}
<!---->
{% block content %}
<!-- Content Wrapper START -->
<!-- Page Content -->

<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="mb-5">
            <h3 class="mb-0">Employees</h3>
          </div>
        </div>
      </div>
      <div>
        <div class="col-12">
          <div class="card p10-0">
            <div class="card-header d-md-flex border-bottom-0">
              <div class="flex-grow-1">
                <a href="{% url 'addstudent'%}" class="btn btn-primary"
                  >+ Add Applicant</a
                >
              </div>
              <div class="mt-3 mt-md-0">
                <a
                  href="#!"
                  class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                  data-template="settingOne"
                >
                  <i data-feather="settings" class="icon-xs"></i>
                  <div id="settingOne" class="d-none">
                    <span>Setting</span>
                  </div>
                </a>

                <a href="#!" class="btn btn-outline-white ms-2">Import</a>
                <a
                  href="{% url 'export_ecsv'%}"
                  class="btn btn-outline-white ms-2"
                  >Export</a
                >
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive table-card">
                <table
                  id="example"
                  class="table text-nowrap table-centered mt-0"
                  style="width: 100%"
                >
                  <thead class="table-light">
                    <tr>
                      <th class="ps-1">Applicant</th>
                      <th>Stream</th>
                      <th>Index Number</th>
                      <th>Date Of Birth</th>
                      <th>Gender</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for applicant in applicant_filter.qs %}
                    <tr>
                      <td class="ps-0">
                        <div class="d-flex align-items-center">
                          <img
                            src="{{applicant.photo.url}}"
                            alt=""
                            class="img-2by3-sm rounded-circle"
                          />
                          <div class="ms-3">
                            <h5 class="mb-0">
                              <a
                                href="{% url 'enrollment' applicant.id%}"
                                class="text-inherit"
                                >{{applicant.fname}} {{applicant.lname}}</a
                              >
                            </h5>
                          </div>
                        </div>
                      </td>
                      <td>{{applicant.stream}}</td>
                      <td>{{applicant.index_number}}</td>
                      <td>{{applicant.dob}}</td>
                      <td>{{applicant.gender}}</td>
                      <td>
                        <span class="badge badge-success-soft">Active</span>
                      </td>
                      <td>
                        <button
                          id="create-user-btn"
                          data-url=""
                          class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                          data-template="eyeOne"
                        >
                          <i data-feather="eye" class="icon-xs"></i>
                          <div id="eyeOne" class="d-none">
                            <span>Activate</span>
                          </div>
                        </button>

                        <a
                          href="#!"
                          class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                          data-template="editOne"
                        >
                          <i data-feather="edit" class="icon-xs"></i>
                          <div id="editOne" class="d-none">
                            <span>Edit</span>
                          </div>
                        </a>
                        <a
                          href="#!"
                          class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                          data-template="trashOne"
                        >
                          <i data-feather="trash-2" class="icon-xs"></i>
                          <div id="trashOne" class="d-none">
                            <span>Delete</span>
                          </div>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <!-- Content Wrapper END -->
  <script>
    $("#create-user-btn").on("click", function () {
      const url = $(this).data("url");

      $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
          alert(response.message);
        },
        error: function (xhr) {
          alert(xhr.responseJSON.message);
        },
      });
    });
  </script>
  <!-- Content Wrapper END -->
</div>
{% endblock %}
