{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{% block title %} | Dashboard{% endblock %}
<!---->
{% block content %}
<!-- Content Wrapper START -->
<div class="main-content">
  <div class="container-fluid">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrapper row">
      <div class="col-12 col-lg-3 col-md-6">
        <h4 class="page-title">Teachers</h4>
      </div>
      <div class="col-12 col-lg-9 col-md-6">
        <ol class="breadcrumb float-right">
          <li><a href="{%url 'dashboard'%}">Dashboard</a></li>
          <li class="active">/ Teachers</li>
        </ol>
      </div>
    </div>
    <!-- Breadcrumb End -->
  </div>

  <div class="container-fluid">
    <form
      action=""
      method="post"
      class="form-ctrl"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="fields">
        <div class="left">
          <h2>Teacher Info</h2>
          <p>All fields labeled with <span>*</span> must be filled.</p>
          <hr />
          {{form_errors}}
          <div class="left0">
            <div class="imgbox">
              <div class="field">
                <label>{{form.photo.label}} </label>
                <div id="photos_preview" class="preview-container"></div>
              </div>
              <div class="field">
                <input
                  type="file"
                  name="photo"
                  accept="image/*"
                  id="id_photo"
                />
              </div>
            </div>

            <div class="lefty">
              <div class="field-grid grid3">
                <div class="field"><label>First Name</label>{{form.fname}}</div>
                <div class="field">
                  <label>Middle Name</label>{{form.mname}}
                </div>
                <div class="field"><label>Last Name</label>{{form.lname}}</div>

                <div class="field">
                  <label>Department</label>{{form.department}}
                </div>
                <div class="field-container" id="lin_container">
                  <label>Role</label>{{form.role}}
                </div>
                <div class="field-container" id="index_number_container">
                  <label>Contact</label>{{form.contact}}
                </div>
                <div class="field-container" id="sponsorship_container">
                  <label>Email</label>{{form.email}}
                </div>
                <div class="field-container" id="refugee_status_container">
                  <label for="id_refugee">National ID Number</label>
                  {{ form.nin }}
                </div>
                <div class="field"><label>Gender</label>{{form.gender}}</div>

                <div class="field">
                  <label for="date_of_birth">Date of Birth:</label>
                  {{form.date_of_brth}}
                </div>

                <div class="field-container" id="ple_certificate_container">
                  <label for="id_ple_certificate">Marital Status</label>
                  {{ form.marital }}
                </div>

                <div class="field-container" id="student_pass_container">
                  <label for="id_student_pass">Address</label>
                  {{ form.address }}
                </div>

                <div class="field-container" id="refugee_card_container">
                  <label for="id_refugee_card">District</label>
                  {{ form.district }}
                </div>
                <div class="field-container" id="uneb_eq_results_container">
                  <label for="id_uneb_eq_results">Country</label>
                  {{ form.country }}
                </div>
                <div class="field-container" id="uneb_eq_results_container">
                  <label for="id_uneb_eq_results">Upload Id</label>
                  {{ form.nid }}
                </div>
                <div class="field-container" id="uneb_eq_results_container">
                  <label for="id_uneb_eq_results">Resume</label>
                  {{ form.cv }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left">
          <h2>Next of Kin</h2>
          <p>All fields labeled with <span>*</span> must be filled.</p>
          <hr />
          <div class="left0">
            <div class="lefty">
              <div class="field-grid grid3">
                <div class="field">
                  <label>First Name</label>{{form.n_fname}}
                </div>
                <div class="field">
                  <label>Middle Name</label>{{form.n_lname}}
                </div>

                <div class="field-container" id="index_number_container">
                  <label>Contact</label>{{form.tel}}
                </div>
                <div class="field-container" id="sponsorship_container">
                  <label>Email</label>{{form.n_email}}
                </div>
                <div class="field-container" id="refugee_status_container">
                  <label>National ID Number</label>
                  {{ form.n_nin }}
                </div>
                <div class="field-container" id="refugee_status_container">
                  <label>Relationship</label>
                  {{ form.relationship }}
                </div>

                <div class="field-container" id="student_pass_container">
                  <label>Address</label>
                  {{ form.n_address }}
                </div>

                <div class="field-container" id="refugee_card_container">
                  <label>District</label>
                  {{ form.n_district }}
                </div>
                <div class="field-container" id="uneb_eq_results_container">
                  <label>Country</label>
                  {{ form.n_country }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-submit">Save Teacher</button>
    </form>
  </div>
</div>
<!-- Content Wrapper END -->
{% endblock %}
