@import "../../variables";
.footer-section {
  .top-footer {
    background-color: $primary;
    padding: 10px 5%;
    .dert {
      flex-direction: column;
      align-items: flex-start;
      .footer-site-logo {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
      }
      img {
        width: 200px;
        margin-bottom: 10px;
      }
    }
  }
  hr {
    margin: 0;
  }
  .bottom-footer {
    background-color: #000;
    padding: 10px 5%;
    .socials {
      li {
        margin-right: 10px;
        padding: 10px;
        a {
          font-size: 17px;
          color: #fff;
          &:hover {
            color: $gold;
          }
        }
      }
    }
    .copy {
      color: #fff;
    }
  }
}
