@import "../variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
}

.front-wraper {
  // background-color: #000;
  .top-menu {
    padding: 10px 5%;
    @media (max-width: 768px) {
      padding: 10px;
      .left {
        display: none;
      }
      .right {
        padding: 0;
        margin: 0;
        text-align: center;
        li {
          a {
            margin: 0;
          }
        }
      }
    }
    .left,
    .right {
      .contacts,
      .toplex {
        li {
          a {
            margin: 0 10px;
            color: $primary;
            text-decoration: none;
            &:hover {
              color: $gold;
            }
          }
        }
      }
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid3a {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
ul {
  list-style: none;
}

.btn-stahiza {
  width: 200px;
  padding: 8px;
  text-transform: capitalize;
  color: white;
  background-color: gold;
}

.btn-submit {
  width: 200px;
  padding: 8px;
  text-transform: capitalize;
  color: white;
  background-color: $primary;
  border-radius: 10px;
  &:hover {
    background-color: rgb(251, 251, 251);
    color: #e30000;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}
