.home-container {
  padding: 5%;
  background-color: #f1f1f1;

  @media (max-width: 768px) {
    padding: 10px;
  }
  .campus-image {
    width: 500px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .campuses-row {
    .col12 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      @media (max-width: 660px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .car0 {
        position: relative;
        border: solid 4px #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
        }
        .cary {
          position: absolute;
          width: 100%;
          bottom: 1px;
          left: 1px;
          padding: 20px;
          background-color: #ffffff30;
          backdrop-filter: blur(1em);
          @media (max-width: 1024px) {
            padding: 10px;
            .carle {
              font-size: 2rem;
              color: white;
              font-weight: bold;
            }
            .carext {
              font-size: 14px;
            }

            .btn-submit {
              width: 100%;
              padding: 8px;
              text-transform: capitalize;
              color: white;
              background-color: #00335d;
              border-radius: 5px;
              text-decoration: none;
              font-size: 13px;
              &:hover {
                background-color: rgb(251, 251, 251);
                color: #e30000;
              }
            }
          }
          .carle {
            font-size: 1.2rem;
            color: white;
            font-weight: bold;
          }
          .carext {
            font-size: 12px;
            @media (max-width: 668px) {
              display: none;
            }
          }

          .btn-submit {
            width: 100%;
            padding: 8px;
            text-transform: capitalize;
            color: white;
            background-color: #00335d;
            border-radius: 5px;
            text-decoration: none;
            &:hover {
              background-color: rgb(251, 251, 251);
              color: #e30000;
            }
            @media (max-width: 600px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
