{% extends "pages/Base.html" %}
<!---->
{% load static %}
<!---->
{% block title %}| Contact{% endblock %}
<!---->
{% block content %}
<main>
  <!-- breadcrumb area start -->
  <section
    class="breadcrumb-area bg-default"
    data-background="assets/img/breadcrumb/breadcrumb-bg.jpg"
  >
    <img
      src="assets/img/breadcrumb/shape-1.png"
      alt=""
      class="breadcrumb-shape"
    />
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb-content">
            <h2 class="breadcrumb-title">About Us</h2>
            <div class="breadcrumb-list">
              <a href="index.html">Home</a>
              <span>About</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb area end -->

  <!-- about area start -->
  <section class="about-area pt-140 pb-90">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="about-img mb-50">
            <img src="assets/img/about/1/1.png" alt="" />
            <div class="about-img-meta">
              <span><i class="fa-solid fa-star"></i>4.5 (3.4k Reviews)</span>
              <h5>Congratulations</h5>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-10">
          <div class="about-content mb-50">
            <div class="section-area mb-20">
              <span class="section-subtitle"
                >Welcome to Mariam King Educational Services Limited</span
              >
              <h2 class="section-title mb-15">About Us</h2>
              <p class="section-text">
                Mariam King Educational Services Limited is a Federal Government
                Approved Foreign Language School in Nigeria. The school has been
                in existence since 2018 where over 1000 French and German
                language speakers have been trained and prepared for
                international examinations like (DELF 🇫🇷, DALF 🇫🇷, TEF 🇨🇦, TCF
                🇨🇦, Goethe exams 🇩🇪, etc.) within the period of her existence
                till date.
              </p>
              <p class="section-text">
                At Mariam King Educational Services Limited, we help people of
                all ages, groups, and careers learn French language 🇫🇷 and
                German 🇩🇪 language with ease for:
              </p>
            </div>
            <div class="about-content-list">
              <ul>
                <li>
                  Job opportunities in international organizations both in
                  Nigeria and abroad
                </li>
                <li>Study purposes both in Nigeria and abroad</li>
                <li>Family reunion with children or spouses outside Nigeria</li>
              </ul>
            </div>
            <div class="section-area mb-20">
              <p class="section-text">
                However, we take our students through the 6 levels (A1, A2, B1,
                B2, C1, and C2) of competence laid down in the Common European
                Framework of Reference for Languages (CEFR).
              </p>
              <p class="section-text">
                At the same time, we render educational services to private
                schools that aim to standardize their language departments by
                helping them create a conducive language studio that is equipped
                with educative videos, songs, charts and relevant texts.
              </p>
              <p class="section-text">
                Lastly, we assist in training language tutors to be able to
                apply modern methods of teaching learners how to speak foreign
                languages with ease.
              </p>
            </div>
            <div class="about-content-list">
              <ol>
                <li>
                  training people how to speak German language and French
                  language (online and physical classes are available).
                </li>
                <li>
                  preparing learners for international examinations both in
                  German and French.
                </li>
                <li>
                  helping our learners secure admission in affordable/tuition
                  free universities in Germany and France
                </li>
                <li>rendering educational services in conventional schools</li>
                <li>interpretating in official meetings or conferences</li>
                <li>
                  transcribing and translating documents to either French,
                  German or English.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about area end -->

  <!-- faq area start -->
  <div class="h4_faq-area pt-140 pb-90">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="h4_faq-img w_img mb-50">
            <img src="assets/img/faq/4/1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="h4_faq-wrap mb-50">
            <div class="section-area-4 mb-30">
              <h2 class="section-title mb-10">
                Why should you Learn Foreign Languages?
              </h2>
            </div>
            <div class="h4_faq-content">
              <div class="accordion" id="Expp">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Distinguishment from monolingual colleagues
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#Expp"
                  >
                    <div class="accordion-body">
                      <p>
                        The ability to speak Foreign languages distinguishes you
                        from your monolingual colleagues and makes you
                        exceptional in your career.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Gaining relation confidence
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#Expp"
                  >
                    <div class="accordion-body">
                      <p>
                        With the ability to speak Foreign languages, you gain
                        the confidence to relate with people from different
                        cultural backgrounds both in your country and abroad.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Improves communication skills
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#Expp"
                  >
                    <div class="accordion-body">
                      <p>
                        Finally, being bilingual usually improves one's
                        communication skills, helps develop ones mind, and
                        associate with different people from all over the world.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- faq area end -->

  <!-- cta area start -->
  <!-- cta area start -->
  <div class="h6_cta-area pt-120">
    <div class="container">
      <div
        class="h6_cta-wrapper"
        data-background="{% static 'assets/images/fot.jpg'%}"
      >
        <img
          class="h6_cta-wrapper-img"
          src="{% static 'assets/images/adm.png'%}"
          alt=""
        />
        <div class="h6_cta-content mb-30 mb-md-0">
          <h2 class="h6_cta-title">Are you ready to take the next step?</h2>
        </div>
        <div class="h6_cta-button">
          <a href="#" class="h6_cta-btn"
            >Application Form<i class="fa fa-arrow-up-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- cta area end -->
  <!-- cta area end -->
</main>

{% endblock %}
