{% load static %}
<!---->
<div class="footer-section">

  <hr />
  <div class="bottom-footer flex">
    <div class="socials flex">
      <li>
        <a href=""><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <i class="fa fa-x-twitter"></i>
      </li>
      <li>
        <a href=""><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-youtube"></i></a>
      </li>
    </div>
    <div class="copy">
      <p>&copy; <span id="year"></span> Stahiza. All rights reserved.</p>
    </div>
  </div>
  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>
</div>
