{% load static %}
<menu class="menubar-wrapper">
  <div class="containerfluid flex">
    <a class="brand flex" href="/">
      <img src="{% static 'img/stlogo.png'%}" alt="STAHIZA LOGO" />
      <h3>STANDARD HIGH <br />SCHOOL ZZANA</h3>
    </a>
    <div class="menubar bun">
      <ul class="menubar-menu flex">
        <li class="menu-item drop">
          <a class="menu-link drop-toggle" href="#"> About us </a>
          <ul class="drop-menu">
            <li><a class="drop-item" href="#">History & Formation</a></li>
            <li><a class="drop-item" href="#">Our School</a></li>
            <li>
              <a class="drop-item" href="#">Directors & Administration</a>
            </li>
            <li>
              <a class="drop-item" href="#">Head teacher's Message</a>
            </li>
          </ul>
        </li>
        <li class="menu-item drop">
          <a class="menu-link" href="#"> Admissions </a>
          <ul class="drop-menu">
            <li><a class="drop-item" href="#">Enroll now</a></li>
            <li><a class="drop-item" href="#">Our Uniforms</a></li>
            <li><a class="drop-item" href="#">School Anthem</a></li>
            <li><a class="drop-item" href="#">Fees structure</a></li>
          </ul>
        </li>
        <li class="menu-item drop">
          <a class="menu-link drop-toggle" href="#"> School life </a>
          <ul class="drop-menu">
            <li><a class="drop-item" href="#">Events</a></li>
            <li><a class="drop-item" href="#">Students</a></li>
            <li><a class="drop-item" href="#">Teachers</a></li>
            <li><a class="drop-item" href="#">School Premisses</a></li>
            <li>
              <a class="drop-item" href="#">Co-Curicular Activities</a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a class="menu-link active" aria-current="page" href="#"
            >News & Publications</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link active" aria-current="page" href="#"
            >Contact us</a
          >
        </li>
      </ul>

      <a class="btn btn-stahiza" href="{%url 'addenrollment'%}">Apply now</a>
    </div>

    <button class="menubar-toggler" onclick="ToggleMenu()">
      <i class="fa fa-bars"></i>
    </button>
  </div>
</menu>
