.container-fluid {
  h1 {
    margin: 5px 0;
    font-weight: bold;
  }
  p {
    span {
      font-weight: bold;
      font-size: 1.2em;
      color: red;
    }
  }
  .form-ctrl {
    padding: 20px;
    @media (max-width: 550px) {
      padding: 10px;
    }
    .fields {
      .left {
        h2 {
          margin: 10px 0;
          font-size: 2em;
          text-transform: capitalize;
          font-weight: bold;
        }
        .left0 {
          display: flex;

          justify-content: space-between;
          align-items: flex-start;
          @media (max-width: 768px) {
            flex-direction: column;
          }
          .imgbox,
          .lefty {
            .field,
            .field-container {
              margin-bottom: 10px;
              .preview-container {
                background-image: url("https://static.vecteezy.com/system/resources/thumbnails/036/594/092/small_2x/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg");
                background-position: center center;
                background-size: cover;
                height: 300px;
                width: 100%;
                object-fit: contain;
                @media (max-width: 900px) {
                  width: 300px;
                }
                @media (max-width: 550px) {
                  width: 100%;
                  height: 250px;
                }
              }
              input,
              select {
                width: 100%;
                background-color: #fff;
                // box-shadow: 1px 1px 10px 1px #cecece;
              }
              label {
                margin: 0;
                font-size: 13px;
                color: #000000;
              }
            }
          }
          .imgbox {
            width: 30%;
            @media (max-width: 768px) {
              width: 100%;
            }
          }
          .lefty {
            width: 70%;
            margin: 20px;
            @media (max-width: 800px) {
              width: 100%;
              margin: 0;
            }
            .field-grid {
              @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
              }
              @media (max-width: 568px) {
                grid-template-columns: repeat(1, 1fr);
              }
            }
          }
        }
      }
    }
    .btn-submit {
      padding: 10px;
      width: 30%;
      border: 0;
      text-transform: capitalize;
      background-color: rgb(0, 121, 185);
      color: #fff;
      border-radius: 5px;
      &:hover {
        background-color: rgb(251, 251, 251);
        color: #e30000;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
.field-container {
  display: block;
}

.field-container.hidden {
  display: none;
}
